
header.header

.beta_line_mei_aajao

  .dono_bachche_saath_mei_baithho
    .header_loan_logo
      img(src='img/companylogo.png' alt='Loan logo' height="100")

    .beta_thoda_neeche
      .header_span PayEasy Loans

  nav.nav.nav--loans
    form.nav__search
      button.nav__search-btn
      input.nav__search-input(type='text' placeholder='Search Loans')
    a.nav__el(href='/loans') About Us
    a.nav__el(href='/login') Login
    a.nav__el(href='/signup') Signup
    a.nav__el(href='#')
      img.nav__user-img(src='img/users/user.png' alt='User photo')
      span Customer






