extends baseTemplate
  
block content    
    
     img(src='img/imagess.png' alt='Loan logo')
     h2.heading-secondary.ma-bt-lg Message from Bank

   
     p.description__text
     | If you receive what appears to be a fraudulent text message, we urge you to report it immediately. Forward any Bank Branch
     | -related messages to abuse@bankofbranch.com. Include the number the message came from and a copy of the message itself..
     p.description__text
     | A fraudulent email may ask you to supply information in a return email, in a separate form attached to the email or by visiting a fraudulent website using a link contained in the email message. The people attempting to get this information
     | may use it to access your accounts directly in order to withdraw money or to open new accounts in your name using your information!
    













